.shell {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.content {
  display: grid;
  gap: var(--spacing-24);
  width: 100%;
  /* width: var(--layout-grid-container-mobile); */
  margin: 0 auto;
  padding: 0 0 var(--spacing-40);
}

.shell footer {
  margin-top: auto;
}

@media (min-width: 768px) {
  /* .content {
    width: var(--layout-grid-container-tablet);
    padding-top: var(--spacing-32);
  } */
}

@media (min-width: 1024px) {
  /* .content {
    width: var(--layout-grid-container-desktop);
  } */
}

@media (min-width: 1640px) {
  /* .content {
    width: var(--layout-grid-container-wide);
  } */
}
